.splashWrapperLeft {
   position: relative;
   width: min(100rem, 100%);
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   overflow: hidden;
   gap: 4rem;
   margin: 0 auto;
   height: 55rem;
}

.reviewBg {
   position: absolute;
   top: -15%;
   right: -45%;
   width: 100rem;
   z-index: 0;
   mask-image: linear-gradient(
      to left,
      transparent 40%,
      var(--bg-color--primary) 60%,
      transparent 90%
   );
}

.reviewSplashHeader {
   width: 20rem;
   color: var(--gunmetal);
   font-family: var(--font-family--header);
   font-weight: 600;
   font-size: 5rem;
   line-height: 5rem;
   text-align: left;
}

.learnMoreButton {
   position: relative;
   width: 100%;
   border: none;
   font-size: 2rem;
   color: var(--font-color--accent);
   font-weight: 600;
   display: flex;
   justify-content: flex-start;
   margin: 1rem 0;
   font-family: var(--font-family--header);
   background: var(--bg-color--quaternary);
   padding: 1rem 0;
   padding-left: 0.5rem;
   cursor: pointer;
   z-index: 5;
}

.learnMoreButton:hover {
   color: var(--green-ryb);
}

.color {
   color: var(--font-color--accent);
}

.animateSplash {
   position: relative;
}

.splash {
   width: 25rem;
   z-index: 1;
}

@media only screen and (max-width: 850px) {
   .splashWrapperLeft {
      justify-content: center;
   }
   .reviewBg {
      display: none;
   }
}

@media only screen and (max-width: 500px) {
   .splashWrapperLeft {
      justify-content: flex-start;
   }

   .reviewSplashHeader {
      z-index: 1;
      text-align: right;
      font-size: 4.5rem;
   }

   .animateSplash {
      position: absolute;
      right: 0;
      z-index: 0;
      opacity: 0.8;
      mask-image: linear-gradient(
         to left,
         var(--bg-color--primary) 40%,
         transparent 70%
      );
   }

   .learnMoreButton {
      justify-content: flex-end;
   }
}
