.splashWrapperRight {
   position: relative;
   width: min(100rem, 100%);
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   align-items: center;
   overflow: hidden;
   gap: 4rem;
   height: 55rem;
}

.searchBg {
   position: absolute;
   top: -15%;
   left: -11.5%;
   width: 100%;
   z-index: 0;
   mask-image: linear-gradient(
      to right,
      transparent 10%,
      var(--bg-color--primary) 40%,
      transparent 70%
   );
}

.searchSplashHeader {
   width: 20rem;
   color: var(--gunmetal);
   font-family: var(--font-family--header);
   font-weight: 600;
   font-size: 5rem;
   line-height: 5rem;
   text-align: right;
}

.learnMoreButton {
   position: relative;
   width: 100%;
   border: none;
   font-size: 2rem;
   color: var(--font-color--accent);
   font-weight: 600;
   display: flex;
   justify-content: flex-end;
   margin: 1rem 0;
   font-family: var(--font-family--header);
   background: var(--bg-color--quaternary);
   padding: 1rem 0;
   padding-right: 0.5rem;
   cursor: pointer;
   z-index: 5;
}

.learnMoreButton:hover {
   color: var(--green-ryb);
}

.color {
   color: var(--font-color--accent);
}

.animateSplash {
   position: relative;
}

.splash {
   width: 25rem;
   z-index: 1;
}

@media only screen and (max-width: 850px) {
   .splashWrapperRight {
      justify-content: center;
   }
   .searchBg {
      display: none;
   }
}

@media only screen and (max-width: 500px) {
   .splashWrapperRight {
      justify-content: flex-start;
   }

   .searchSplashHeader {
      z-index: 1;
   }

   .animateSplash {
      position: absolute;
      right: 0;
      z-index: 0;
      opacity: 0.8;
      mask-image: linear-gradient(
         to left,
         var(--bg-color--primary) 40%,
         transparent 70%
      );
   }
}
